/*General Layouts*/
body {
	font-family: 'Raleway', sans-serif;
	background-color: #000;
	background: url(../img/background/background_mobile_rotated.jpg) center;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

body,
header,
footer,
h1 {
	margin: 0 auto;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	outline: none;
}
/*Homepage layout
-------------------------------------------------*/

header.movie_homepage {
	
	font-weight: 700;
	color: rgba(210,0,0,1);
	letter-spacing: 4px;	
	padding-top: 1em;
	padding-bottom: 1em;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;

}

/*start button*/
h2.button_start {
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	position: absolute;
	top: 75%;
	width: 100%;
	text-align: center;
	display: block;
	height: 35px;
	width: 100px;
	border: 5px solid;
	border-radius: 15px;
	padding-top: 4px;
	left:50%;
    margin-left:-50px;
}

/*Start button on click*/
h2.button_start:active {
	color: rgba(210,0,0,1);
	position: absolute;
	top: 75%;
	width: 100%;
	text-align: center;
	display: block;
	height: 35px;
	width: 100px;
	border: 5px solid;
	border-radius: 15px;
	padding-top: 4px;
	left:50%;
    margin-left:-50px;
}

/*Container Layouts
------------------------------------*/

/*Header icon*/
header.movie_name {
	font-weight: 700;
	color: rgba(210,0,0,1);
	letter-spacing: 4px;	
	padding-top: 1em;
	padding-bottom: 1em;
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1000;
}
h1 a {
	color: rgba(210,0,0,1);
}
/*used for layer name*/
h3 {
	font-weight: 700;
	color: rgba(255,255,255,.7);
	position: absolute;
	top: 4em;
	width: 70%;
	left: 16%;
}

/*used for layer number*/
h4 {
	font-weight: 500;
	color: rgba(255,255,255,.7);
	position: absolute;
	top: 7em;
	width: 70%;
	left: 16%;
}

/*Red underline for layer name*/
hr {
	width: 90%;
	margin-left: 0;
	background: rgba(210,0,0,1);
	height: 3px;
	border: 0;
	position: absolute;
	top: 7em;

}


/*content text*/
p {
	font-weight: 400;
	font-size: 18px;
	color: #98b7c1;
	position: absolute;
	top: 9em;
	width: 70%;
	left: 16%;
}

/*Footer Layout
---------------------------------*/
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	padding-top: 1em;
	z-index: 1000;
}
.nav_bar {
	z-index: -1;
}
.nav_icons {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
}

.icons a img{
	width:35px;
	opacity: 0.5;
}

.icons a img:active {
	opacity: 1;
}

.kick:active {
	transition: transform 0.5s;
	transform: rotate(-45deg);
}

/*Nav Menu Layout
--------------------------------*/
.nav_menu {	
	position: relative;
	background: rgba(0,0,0,.5);
	height: 95vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1;
	display: none;
}

.nav_list {
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	height: 100%;
	left: 50%;
	margin-left: -80px;
	font-size: 24px;
	opacity: 0.5;
	text-align: center;
}

.nav_list li a img {
	width: 35px;
}
.nav_list li a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

.nav_list li a:hover,
.nav_list li a:active {
	color: rgba(210,0,0,1);
}





section {
	height: 100vh;
	position: relative;
}

/*Plot Layer Layout
---------------------------------*/
#plot{
	
}
.content {
	height: 45%;
	overflow: auto;
}

/*Characters Layer Layout
---------------------------------*/
#characters {
	
}

.char_list {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	
	padding-left: 16%;
	margin: 0;
	width: 68%;
	top: 35%;
	height: 43%;

}

.char_list img{
	width: 61px;
}

.char_flex1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.char_flex2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.char_flex3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#char_bio{
	display: none;
}

#overlay {
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0, 0.8);
	position: absolute;
	top:0;
	left: 0;
	z-index: 2000;
	display: none;
}

/*Downloads Layer Layout
--------------------------------*/
#downloads {
		
}
.download_content{
	position: absolute;
	top: 12em;
	padding-left: 16%;
	margin: 0;
	width: 68%;
	top: 35%;
	height: 43%;
	overflow: auto;
}

.download_content ul{
	list-style: none;
}

.download_content img{
	width: 60px;
}


/*Gallery Layer Layout
---------------------------------*/
#gallery {
	
}
.gallery_content{
	position: absolute;	
	padding-left: 16%;
	margin: 0;
	width: 68%;
	top: 35%;
	height: 43%;
	overflow: auto;
}

.gallery_content ul{
	list-style: none;
}
.gallery_content img{
	
}
.screenshot_list img{
	width: 60px;
}
.behind_list img{
	width: 60px;
}

/*Trailer Layer Layout
---------------------------------*/
#trailer {
	
	
}

.video {
	position: absolute;
	top: 40%;
	width: 100%;
}

.video video{
	display: block;
	width: 100%;
}


/*media queries
---------------------------------------*/

 /*if screen is wider than smartphone size*/
@media screen and (min-width: 960px) {

	/*change to a landscape background image*/
	body {
		background: url(../img/background/background_desktop_1.jpg) center;
		height: 100vh;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	/*increase left padding of text and headings*/
	h3,
	h4,
	p {
		padding-left: 20%;
	}
	p {
		width: 60%;
	}
	/*characters layout desktop*/
	.dreams {
		font-size: 50px;
		
		padding-top: 20%;
		padding-left: 15%;

	}

	/*Trailer layout desktop*/
	.video {
		top: 30%;
		width: 100%;
	}
	.video video{
		display: block;
		margin: 0 auto;
		width: 60%;
	}

}


/*for javascript
----------------------------------------*/

.accessibly_hidden {
	display: none;
}



/*layer control
---------------------------------------*/
.homepage {
	/*display: none;*/
}
.container{
	/*display: none;*/
}

#plot {
	/*display: none;*/
}

#characters{
	/*display: none;*/
}

#downloads{
	/*display: none;*/
}

#gallery{
	/*display: none;*/
}

#trailer{
	/*display: none;*/
}




